body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow: visible;
}
section{
    width: 100%;
    height: 1050px;
}
/* Banner */
.intro{
    background-image:url('src/img/header-bg.png') ;
    background-repeat: no-repeat;
    background-size: contain;
}
.half-one{
    float: left;
    width: 40%;
    margin: 4%;
    padding: 1%;
}
.intro .content{
    padding: 80px;
}
.intro .hello{
    font-size: 35px;
}
.intro .name{
    font-size: 55px;
    font-weight: 900;
    color: #ff4a6b;
}
.intro .describe{
    color: #4d4d4d;
    padding-bottom: 30px;
    font-size: large;
}
.intro img{
    width: 90%;
}
.button{
    text-decoration: none;
    background-color: #f75c8e;
    padding: 15px 40px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
/* Biography */
.bio{
    background-image: url('src/img/biography-bg.png');
    background-repeat: no-repeat;
}

.bio img{
    width: 90%;
}
.bio .name{
    font-size: 40px;
}
.bio .content{
    margin-top: 10px;
}
.bio p{
    margin-bottom: 70px;
    margin-top: 70px;
    color: #4d4d4d;
    font-size: large;
}
/* Latest Work */

.latest-work{
    width: 100%;
    margin: auto;
    height: 700px;
    background-image: url('src/img/latest-work-bg.png');
    background-size: cover;
}
.latest-work .wrk{
    width: 80%;
    margin: auto;
}
.latest-work h1{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 25px;
}
.latest-work .work-img{
    float: left;
    width: 25%;
    margin: 4%;
    padding: 0%;
}
.latest-work img{
    width: 100%;
}
/* Service */
.service{
    height: 700px;
}
.service h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 0px;
}
.service p{
    color: #4d4d4d;
}
.service .service-half{
    float: left;
    width: 35%;
    margin: 5%;
    padding: 2%;
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.75);
    border-radius:  0px 0px;
    border-left: 8px solid #f75c8e;
}

/* Bottom Section */
.btm-section{
    text-align: center;
    background-image: url('src/img/footer-bg.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.btm-section h1{
    font-size: 40px;
}
.btm-section p{
    font-size: 20px;
    font-weight: 600;
    color: #4d4d4d;
}
.btm-section span{
    font-size: 15px;
}
.btm-section .another{
    color: #4d4d4d;
}
.btm-section .box{
    background-color: #f75c8e;
    width: 50%;
    margin: auto;
    padding: 30px;
    color: white;
    font-weight: 100;
    border-radius: 8px;
    margin-top: 70px;
}
.btm-section .reverse p{
    font-size: 12px;
    padding: 95px;
    color: #4d4d4d;
}
